@import url("https://fonts.googleapis.com/css?family=Baloo");
@import url("https://fonts.googleapis.com/css?family=Baloo%20Bhai%202");
*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    max-width: 1440px;
    max-height: 1024px;
}

header div img{
    width: 100%;
}

picture img{
    margin-right: 92px;
    width: 400px;
    height: 140px;
    margin-top: 0.5rem;
}

a{    
    font-family: "Baloo";
    font-size: 30px;
    color: #5E452E;
    margin-top: 0.5rem;
    margin-left: 60px;
}

h1{
    font-family: "Baloo";
    font-size: 30px;
    color: #432306;
    align-items: center;
}

nav img{
    width: 400px;
    height: 422px;
}